html, body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    gap: 100px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    background-color: bisque;
    color:indianred;
    padding: 10px;
    border: 3px solid indianred;
    border-radius: 10px;
}


button:hover {
    border: 3px solid #bd1e19;
    color: #bd1e19;
}

.rainbow-button-activated {

    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    background-color: #ed3ea1;
    color:#f097c9;
    padding: 10px;
    border: 3px solid #f097c9;
    border-radius: 10px;

}


.content {

    display: flex;
    justify-content: center;


}

.grid-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 1px solid black;

}

.grid-box, .colored-grid-box{
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
   
}


.colored-grid-box {

    background-color: black;
}


