body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 352px;
    padding: 0;
}

.grid-box{
    display:flex;
    flex-wrap: wrap;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

