html, body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.canvas-size-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    background-color: bisque;
    color:indianred;
    padding: 10px;
    border: 3px solid indianred;
    border-radius: 10px;
}

.canvas-size-button:hover {
    border: 3px solid #bd1e19;
    color: #bd1e19;
}


.content {

    display: flex;
    justify-content: center;


}

.grid-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 352px;
    padding: 0;
}

.grid-box, .colored-grid-box{
    display:flex;
    flex-wrap: wrap;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}


.colored-grid-box {

    background-color: black;
}


